<h1><%= I18n.t("recommendations.edit.editing_recommendation") %></h1>

<%= render 'form' %>

<%= link_to I18n.t("recommendations.edit.show"), @recommendation %> |
<%= link_to I18n.t("recommendations.edit.back"), recommendations_path %>
