<h1><%= I18n.t("users.show.users#show") %></h1>
<p><%= I18n.t("users.show.find_me_in_app_views_users_showhtmlerb") %></p>
<p>User: <%= @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
