<p id="notice"><%= notice %></p>


<%= link_to I18n.t("uptime_monitors.show.edit"), edit_uptime_monitor_path(@uptime_monitor) %> |
<%= link_to I18n.t("uptime_monitors.show.back"), uptime_monitors_path %>
