<h1><%= I18n.t("account_types.edit.editing_account_type") %></h1>

<%= render 'form' %>

<%= link_to I18n.t("account_types.edit.show"), @account_type %> |
<%= link_to I18n.t("account_types.edit.back"), account_types_path %>
